<div class="footer w-100 py-2">
  <div class="text-center">
    <!-- <div class="footer-icons">
      <button routerLink="#" class="btn mx-2 p-2 rounded-pill text-dark"><i class="fa fa-facebook"></i></button>
      <button routerLink="#" class="btn mx-2 p-2 rounded-pill text-dark"><i class="fa fa-twitter"></i></button>
      <button routerLink="#" class="btn mx-2 p-2 rounded-pill text-dark"><i class="fa fa-google-plus"></i></button>
      <button routerLink="#" class="btn mx-2 p-2 rounded-pill text-dark"><i class="fa fa-youtube-play"></i></button>
      <button routerLink="#" class="btn mx-2 p-2 rounded-pill text-dark"><i class="fa fa-instagram"></i></button>
    </div> -->
    <div class=" my-3 mb-0">
      All Rights Reserved <a href="#" class="nav-link">Practice Learner</a>
    </div>
  </div>
</div>
